body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:450px;
  height:64px;
}
#u10153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u10153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u10153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u10154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u10154 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
}
#u10154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u10155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u10155 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:30px;
}
#u10155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u10156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u10156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:34px;
}
#u10156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u10157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u10157 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:30px;
  width:150px;
  height:34px;
}
#u10157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u10158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u10158 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:150px;
  height:34px;
}
#u10158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u10159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u10159 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:19px;
  width:145px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u10159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
