body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:606px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:20px;
  width:126px;
  height:60px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:122px;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:110px;
  width:200px;
  height:60px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:289px;
  width:200px;
  height:60px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:199px;
  width:200px;
  height:60px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:379px;
  width:126px;
  height:60px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:122px;
  word-wrap:break-word;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:20px;
  width:174px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:80px;
  width:0px;
  height:0px;
}
#u219_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u219_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:170px;
  width:0px;
  height:0px;
}
#u220_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u220_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:16px;
  width:18px;
  height:19px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:259px;
  width:0px;
  height:0px;
}
#u221_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u221_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:349px;
  width:0px;
  height:0px;
}
#u222_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u222_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:481px;
  width:44px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:504px;
  width:368px;
  height:235px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  word-wrap:break-word;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:725px;
  width:300px;
  height:150px;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
  font-size:14px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:30px;
  width:150px;
  height:30px;
  font-size:14px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
  font-size:14px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:60px;
  width:150px;
  height:30px;
  font-size:14px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:30px;
  font-size:14px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:90px;
  width:150px;
  height:30px;
  font-size:14px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:30px;
  font-size:14px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:120px;
  width:150px;
  height:30px;
  font-size:14px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
