body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:20px;
  width:116px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:56px;
  width:150px;
  height:60px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:150px;
  width:200px;
  height:60px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:56px;
  width:361px;
  height:197px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:240px;
  width:200px;
  height:60px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:332px;
  width:200px;
  height:60px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:415px;
  width:150px;
  height:60px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:146px;
  word-wrap:break-word;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:116px;
  width:0px;
  height:0px;
}
#u248_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:14px;
  width:34px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u248_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u248_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:21px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:210px;
  width:0px;
  height:0px;
}
#u249_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:12px;
  width:30px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u249_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u249_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:17px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:300px;
  width:0px;
  height:0px;
}
#u250_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:12px;
  width:34px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u250_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u250_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:19px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:392px;
  width:0px;
  height:0px;
}
#u251_seg0 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:8px;
  width:26px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u251_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u251_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:10px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
